{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinna Store</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'img/navbar/logo-cinna.png' %}">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="{% url "app:index" %}" class="logo"><img src="{% static 'img/navbar/logo-cinna.png' %}" alt="logo"></a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{% static 'img/navbar/nav-icon.png' %}" class="menu-icon" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url "app:index" %}">Inicio</a></li>
                    <li><a href="{% url "app:catalog" %}">Catalogo</a></li>
                    <li><button class="btnLogin-popup">Login</button></li>
                </ul>
            </nav>
            <div>
                <ul>
                    <li class="submenu">
                        <img src="{% static 'img/navbar/carrito-compras.png' %}" id="img-carrito" alt="carrito">
                        <div id="carrito">
                            <table id="lista-carrito">
                                <thead>
                                    <tr>
                                        <th>imagen</th>
                                        <th>nombre</th>
                                        <th>precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-2">vaciar</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-content container">
            <div class="header-img">
                <img src="{% static 'img/productos/product-1.png' %}" alt="producto-popular">
            </div>
            <div class="header-txt">
                <h1>cinnamoroll</h1>
                <p>encuentra a tu love</p>
            </div>
        </div>
    </header>
    <!--login start-->
    <div class="wrapper container"> <!-- login -->
        <!--icono de cerrar start -->
        <span class="icon-close">
            <ion-icon name="close-circle"></ion-icon>
        </span>
        <!--login start-->
        <div class="form-box login">
            <!--titulo-->
            <h2>Login</h2>
            <form action="" id="inicio-sesion" method="POST">
                {% csrf_token %}
                <!--input de mail-->
                <div class="input-box" id="email-box-login">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name="username" id="email-login" >
                    <label for="email-login">Correo electrónico</label>
                    <p id="warning-correo-login"></p>
                </div>
                <!--input de contraseña-->
                <div class="input-box" id="password-box-login">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="password" id="password-login" >
                    <label for="password-login">Contraseña</label>
                    <p id="warning-password-login"></p>
                </div>
                <!--recordar y olvido su contraseña-->
                <div class="remember-forgot" id="recordar">
                    <label for="checkbox-recordar"><input type="checkbox" id="checkbox-recordar">Recordar</label>
                    <a href="#">¿Olvido su Contraseña?</a>
                </div>
                <!--boton de iniciar sesion-->
                <button type="submit" class="btn">Iniciar Sesion</button>
                <!-- envio a pagina de registro -->
                <div class="login-register">
                    <p>¿No tienes cuenta?<a href="#" class="register-link">Registrarse</a></p>
                </div>
            </form>
        </div>
        <!-- register -->
        <div class="form-box register">
            <!-- titulo -->
            <h2>Registrarse</h2>
            <form action="" id="registro">
                {% csrf_token %}
                <!--  user -->
                <div class="input-box" id="user-box-register">
                    <!-- icon user -->
                    <span class="icon">
                        <ion-icon name="person-circle"></ion-icon>
                    </span>
                    <!-- input user -->
                    <input type="text" name="txt-register" id="txt-register" required>
                    <label for="txt-register">Usuario</label>
                    <p id="warning-user-register"></p>
                </div>
                <!-- correo -->
                <div class="input-box" id="email-box-register">
                    <!-- icon -->
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <!-- input correo -->
                    <input type="email" name="email-register" id="email-register" required>
                    <label for="email-register">Correo</label>
                    <p id="warning-correo-register"></p>
                </div>
                <!-- password -->
                <div class="input-box" id="password-box-register">
                    <!-- icon -->
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <!-- input password -->
                    <input type="password" name="password-register" id="password-register" required>
                    <label for="password-register">Contraseña</label>
                    <p id="warning-password-register"></p>
                </div>
                <!-- remember forgot -->
                <div class="remember-forgot">
                    <label for="checkbox-terminosycondiciones"><input type="checkbox" id="checkbox-terminosycondiciones">Acepto los <a href="#">terminos & condiciones</a></label>                </div>
                <!-- btn register -->
                <button type="submit" class="btn">Registrarse</button>
                <!-- I have user -->
                <div class="login-register">
                    <p>¿Tienes una cuenta?<a href="#" class="login-link">Iniciar sesion</a></p>
                </div>
            </form>
        </div>
    </div>
    <!--login finish-->

    <!-- oferts start -->
    <h2 class="title-ofert">Ofertas</h2>
    <section class="ofert container">
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="{% static 'img/productos/product-1.png' %}" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Peluche Cinnamoroll</h3>
                <p class="precio">Ahora: $19.990 <p class="precio-antes">Antes: $25.990</p></p>
                <a href="products/product-1.html" class="btn-2">Mas informacion</a>
            </div>
        </div>

        <div class="ofert-1">
            <div class="ofert-img">
                <img src="{% static 'img/productos/product-2.png' %}" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Peluche Cinnamoroll</h3>
                <p class="precio">Ahora: $19.990 <p class="precio-antes">Antes: $25.990</p></p>
                <a href="products/product-2.html" class="btn-2">Mas informacion</a>
            </div>
        </div>

        <div class="ofert-1">
            <div class="ofert-img">
                <img src="{% static 'img/productos/product-3.png' %}" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Peluche Cinnamoroll</h3>
                <p class="precio">$19.990 <p class="precio-antes">Antes: $25.990</p></p>
                <a href="products/product-3.html" class="btn-2">Mas informacion</a>
            </div>
        </div>
    </section>
    <!-- ofert fisnish -->

    <main class="products container" id="lista-1">
        <h2>catalogo</h2>
        <div class="product-content">
            <div class="product" id="1">
                <img src="{% static 'img/productos/product-1.png' %}" alt="imProducto">
                <div class="product-txt">
                    <h3>Peluche Cinnamoroll</h3>
                    <p>Amor en tu peluche</p>
                    <p class="precio">$25.990</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="1">agregar al carrito</a>
                    <br>
                    <button class="btn-info" onclick="redireccionar1()">Mas informacion</button>
                </div>
            </div>
            
            <div class="product" id="2">
                <img src="{% static 'img/productos/product-2.png' %}" alt="imProducto">
                <div class="product-txt">
                    <h3>Peluche Cinnamoroll</h3>
                    <p>Amor en tu peluche</p>
                    <p class="precio">$25.990</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="2">agregar al carrito</a>
                    <br>
                    <button class="btn-info" onclick="redireccionar2()">Mas informacion</button>
                </div>
            </div>

            <div class="product" id="3">
                <img src="{% static 'img/productos/product-3.png' %}" alt="imProducto">
                <div class="product-txt">
                    <h3>Peluche Cinnamoroll</h3>
                    <p>Amor en tu peluche</p>
                    <p class="precio">$25.990</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="3">agregar al carrito</a>
                    <br>
                    <button class="btn-info" onclick="redireccionar3()">Mas informacion</button>
                </div>
            </div>

            <div class="product" id="4">
                <img src="{% static 'img/productos/product-3.png' %}" alt="imProducto">              
                <div class="product-txt">
                    <h3>Peluche Cinnamoroll</h3>
                    <p>Amor en tu peluche</p>
                    <p class="precio">$25.990</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="4">agregar al carrito</a>
                    <br>
                    <button class="btn-info" onclick="redireccionar4()">Mas informacion</button>
                </div>
            </div>

            <div class="product" id="5">
                <img src="{% static 'img/productos/product-2.png' %}" alt="imProducto">
                <div class="product-txt">
                    <h3>Peluche Cinnamoroll</h3>
                    <p>Amor en tu peluche</p>
                    <p class="precio">$25.990</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="5">agregar al carrito</a>
                    <br>
                    <button class="btn-info" onclick="redireccionar5()">Mas informacion</button>
                </div>
            </div>

            <div class="product" id="6">
                <img src="{% static 'img/productos/product-1.png' %}" alt="imProducto">
                <div class="product-txt">
                    <h3>Peluche Cinnamoroll</h3>
                    <p>Amor en tu peluche</p>
                    <p class="precio">$25.990</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="6">agregar al carrito</a>
                    <br>
                    <button class="btn-info" onclick="redireccionar6()">Mas informacion</button>
                </div>
            </div>
        </div>
    </main>

    <!-- footer start -->
    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <h3>Nosotros</h3>
                <ul>
                    <li>Bienvenidos a cinnastore, somos una tienda la cual busca tener todos los productos de cinnamoroll los cuales son escasos en nuestro pais</li>
                    <li>Ven y obten tu cinnamoroll en nuestra tienda</li>
                </ul>
            </div>

            <div class="link">
                <h3>Donde encontrarnos</h3>
                <ul>
                    <li><a href="#"><iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26610.325660111565!2d-70.63411876756592!3d-33.5198266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d060c1e0a161%3A0x9445253e2b20000!2sBellavista%20de%20la%20Florida!5e0!3m2!1ses!2scl!4v1715799910564!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></a></li>
                </ul>
            </div>

            <div class="link">
                <h3>Contactanos</h3>
                <ul>
                    <li><a href="#">cinnastore@gmail.com</a></li>
                    <li><a href="#">@cinnastore</a></li>
                    <li><a href="#">+56987654321</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- footer finish -->

    <script src="{% static 'js/validaciones.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
